body{
    background-image: url("eagle.jpg");
    position: relative;
}

h1{
    font-size: 7em;
    color:white;
    filter: alpha(opacity=60);
}

ul{
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    list-style-type: none;
}

li{
    float: left;
}

li a{
    display: block;
    color: navajowhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
    border-radius: 8px;
}

div.gallery{
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid black;
}

div.gallery img{
    width:100%;
    height: 150px;
}

div.desc{
    padding: 15px;
    text-align: center;

}

form{
    border-radius: 8px;
    margin: 0;

}

fieldset{
    margin-left: 30%;
    border-radius: 8px;
    background-color: blue;
    border-color: black;
    width: 500px;
    height: 500px;
}

legend{
    background-color: black;
    border-radius: 8px;
    color:white;
    width: 150px;
    text-align: center;
}


input{
    display: inline-block;
    border-radius: 8px;
    padding:5px;

}

button{
    padding: 10px;
    border-radius: 8px;
    box-shadow: black;
    background-color: green;
}


